.container {
	margin: 20px auto;
	max-width: 600px;
	padding: 40px;
	/*border: 1px dotted black;*/
}
h1	{
	text-align: center;
}

button {
	color: white;
	font-weight: bold;
	width: 100px;
	height: 100px;
	display: inline-block;
}

#sp {
	/*border: 1px solid right: ;ed;*/
	margin: 30px auto;
	max-width: 300px;
}

#pad1 {
	background-color: #618685;
}

#pad2 {
	background-color: #36486B;
}

#pad3 {
	background-color: #4040A1;
}

#pad4 {
	background-color: #Bc5A45;
}

#pad5 {
	background-color: #F18973;
}

#pad6 {
	background-color: #80CED6;
}

#pad7 {
	background-color: #50394C;
}

#pad8 {
	background-color: #92A8D1;
}

